.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 0.5rem;
  flex-direction: column;
}

.main {
  padding: 5rem 0;
  flex: 1 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  color: rgb(212, 0, 255);
  font-size: 1.1rem;
  font-family: monospace;
}

.snippet {
  border-radius: 8px;
  background: #1d1f21;
  color: #f8f8f2;
  padding: 2rem 1.75rem;
  font-size: 0.9rem;
  font-family: monospace;
  display: block;
  max-width: 100%;
  overflow-y: scroll;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  display: block;
  color: #444444;
  margin-bottom: 0.5rem;
}

.input {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.button {
  padding: 0.5rem 1rem;
}
